services:
  mongodb:
    image: mongo:8.0.15
    container_name: mongodb
    restart: always
    env_file:
      - .env
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PASSWORD}
    ports:
      - "27017:27017"
    healthcheck:
      test: >
        mongosh --eval "db.adminCommand('ping')"
        --username ${MONGO_ROOT_USER}
        --password ${MONGO_ROOT_PASSWORD}
        --authenticationDatabase admin
        --quiet
      interval: 10s
      timeout: 30s
      start_period: 30s
      retries: 3
    command:
      - "--auth"
      - "--bind_ip_all"
    networks:
      - app-network

  init-db-user:
    image: mongo:8.0.15
    env_file:
      - .env
    depends_on:
      mongodb:
        condition: service_healthy
    volumes:
      - ./update-user.sh:/tmp/update-user.sh
    entrypoint: [ "/bin/bash", "/tmp/update-user.sh" ]
    networks:
      - app-network

  postgresdb:
    image: postgres:17.6-alpine
    container_name: planny-db
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - planny_db:/var/lib/postgresql/data
    networks:
      - app-network

  db-planny-service:
    build:
      context: .
      dockerfile: Dockerfile_dbplanny
    container_name: db-planny-app
    restart: always
    env_file:
      - .env
    depends_on:
      - postgresdb
    ports:
      - "8081:8081"
    environment:
      SERVER_PORT: 8081
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgresdb:5432/planny_db
    volumes:
      - logs:/app/logs
    networks:
      - app-network

  notification-service:
    build:
      context: .
      dockerfile: Dockerfile_notification
    container_name: notification-app
    restart: always
    env_file:
      - .env
    depends_on:
      - report-generator
    ports:
      - "8082:8082"
    environment:
      SERVER_PORT: 8082
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgresdb:5432/planny_db
    volumes:
      - logs:/app/logs
      - recipient_configs:/app/recipient_configs
    networks:
      - app-network

  report-generator:
    build:
      context: .
      dockerfile: Dockerfile_reportgenerator
    container_name: report-generator-app
    restart: always
    env_file:
      - .env
    depends_on:
      - db-planny-service
      - mongodb
    ports:
      - "8084:8084"
    environment:
      SERVER_PORT: 8084
      SPRING_DATA_MONGODB_URI: mongodb://${MONGO_USER}:${MONGO_PASSWORD}@mongodb:27017/planny?authSource=admin
    volumes:
      - logs:/app/logs
    networks:
      - app-network

  tg-bot-planny:
    build:
      context: .
      dockerfile: Dockerfile_tgbotplanny
    container_name: tg-bot-planny-app
    restart: no
    env_file:
      - .env
    depends_on:
      - report-generator
    ports:
      - "8083:8083"
    environment:
      SERVER_PORT: 8083
      MONGO_HOST: mongodb
      SPRING_DATA_MONGODB_URI: mongodb://${MONGO_USER}:${MONGO_PASSWORD}@mongodb:27017/planny?authSource=admin
    volumes:
      - logs:/app/logs
    networks:
      - app-network

  editor-planny-ui:
    build:
      context: .
      dockerfile: Dockerfile_editorplannyui
    container_name: editor-planny-ui-app
    restart: no
    env_file:
      - .env
    depends_on:
      - db-planny-service
      - db-user-pa-service
    ports:
      - "8085:8085"
    environment:
      SERVER_PORT: 8085
    volumes:
      - logs:/app/logs
    networks:
      - app-network

  db-user-pa-service:
    build:
      context: .
      dockerfile: Dockerfile_dbuserpa
    container_name: db-user-pa-app
    restart: no
    env_file:
      - .env
    depends_on:
      - mongodb
    ports:
      - "8086:8086"
    environment:
      SERVER_PORT: 8086
    volumes:
      - logs:/app/logs
    networks:
      - app-network

volumes:
  planny_db:
  logs:
  recipient_configs:

networks:
  app-network:
    driver: bridge